<h1>Trip Planner</h1>

<%= form_for :city, url: trip_planner_index_path, :method => :get do |f| %>
  <p>
    <%= f.label "Name of city" %><br>
    <%= f.text_field :name %>
  </p>
  <%= f.submit "View trip weather" %>  
<% end %>



<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>

<body>
<% if @forecastData %>
  <table style="width:100%">
  <caption>Weather forecast for <%= @name %></caption>
  <br>
  <tr>
    <th><%= @timeArray[0] %></th>
    <th><%= @timeArray[1] %></th>
    <th><%= @timeArray[2] %></th>
    <th><%= @timeArray[3] %></th>
    <th><%= @timeArray[4] %></th>
    <th><%= @timeArray[5] %></th>
    <th><%= @timeArray[6] %></th>
  </tr>
  <tr>
    <th><%= @iconArray[0] %></th>
    <th><%= @iconArray[1] %></th>
    <th><%= @iconArray[2] %></th>
    <th><%= @iconArray[3] %></th>
    <th><%= @iconArray[4] %></th>
    <th><%= @iconArray[5] %></th>
    <th><%= @iconArray[6] %></th>
  </tr>
  <tr>
    <th><%= @summaryArray[0] %></th>
    <th><%= @summaryArray[1] %></th>
    <th><%= @summaryArray[2] %></th>
    <th><%= @summaryArray[3] %></th>
    <th><%= @summaryArray[4] %></th>
    <th><%= @summaryArray[5] %></th>
    <th><%= @summaryArray[6] %></th>
  </tr>
</table>
</body>
</html>
<% end %>