<%= form_for :city, url: new_trip_planner_path, :method => :post do |f| %>
  <p>
    <%= f.label "Name of city" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Duration of trip (days)" %><br>
    <%= f.text_field :tripDuration %>
  </p>
  <%= f.submit "View trip weather" %>  
<% end %>