<h1>Home#index</h1>

<br>

<%= form_for :home, url: test_cities_ids_home_index_path, :method => :get do |f| %>
  <p>
    <%= f.label "Address" %><br>
    <%= f.text_field :address %>
  </p>
    <p>
    <%= f.label "Number of city" %><br>
    <%= f.text_field :citycount %>
  </p>
  <%= f.submit "Return all cities ids around the address given" %>  
<% end %>

<br>
<br>

<%= form_for :home, url: test_google_latlon_home_index_path, :method => :get do |f| %>
  <p>
    <%= f.label "Address String" %><br>
    <%= f.text_field :address %>
  </p>
  <%= f.submit "Return the latitude and longitude of the address string" %>  
<% end %>

<br>