<% if @allEvents != nil %> 
  <div class="text-container">
    <h3 style="margin: 40px;">Your Events:</h3>
    <table style="margin: 0 40px 40px 40px;">
      <tr>
        <th></th>
        <th style="text-align:left;">Event Title</th>
        <th style="text-align:left;">Weather Summary</th> 
        <th style="text-align:left;">Weather Preference</th>   
      </tr>
      <% @allEvents.each do |event| %> 
        <tr>
          <td><%= link_to 'Edit', editEvent_events_path(:eventId => event["path"]["key"]) %></td>
          <td><strong><%= event["value"]["title"] %></strong></td>
          <td><%= event["value"]["weatherSummary"] %></td>
          <td><%= event["value"]["weatherPreference"] %></td>
          <% if event["value"]["ifReschedule"] == true %> 
            <td>Event doesn't match your weather preference, reschedule?</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div style="margin: 40px;">
    <%= button_to "Create New Event", newEvent_events_path, :method => :get, :class => "coloring" %>
  </div>

  <div id='calendar' style="margin: 40px;"></div>
<% else %>
  <div class="text-container" style="padding: 20px;">Please Login</div>
<% end %>
