<p><%= current_user.name %></p>

<%= form_for :events, url: new_event_path, :method => :post do |f| %>
  <p>
    <%= f.label "Event Title" %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Start Time" %><br>
    <%= f.text_field :startTime %>
  </p>
  <p>
    <%= f.label "End Time" %><br>
    <%= f.text_field :endTime %>
  </p>
  <p>
    <%= f.label "Location" %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label "Description" %><br>
    <%= f.text_field :description %>
  </p>
  <%= f.submit "Add new event" %>  
<% end %>
