<!DOCTYPE html>
<html>
<head>
  <title>Weathr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div align="right">
	<div align="right">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
	</div>
</div>

<div align="right">
  <div align="right">
  <% if current_facebook_user %>
    Signed in as <strong><%= current_facebook_user.name %></strong>!
    <%= link_to "Sign out", facebook_signout_path, id: "facebook_sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "facebook_sign_in" %>
  <% end %>
</div>
</div>


<h1 align="center">Weather Application</h1>

<div align="center" >
	<%= button_to "Home", root_path, :method => :get, :class => "coloring" %>
	<div style="width: 2%; display: inline"></div>
	<%= button_to "Calender", events_index_path, :method => :get, :class => "coloring" %>
	<div style="width: 2%; display: inline"></div>
	<%= button_to "Favorite Cities", fav_cities_path, :method => :get, :class => "coloring" %>
	<div style="width: 2%; display: inline"></div>
	<%= button_to "Weather Search", root_path, :method => :get, :class => "coloring" %>
	<div style="width: 2%; display: inline"></div>
	<%= button_to "Trip Planner", root_path, :method => :get, :class => "coloring" %>
</div>

<%= yield %>

</body>
</html>
